body {
    margin: 0;
    font-family: Arial;
}
h1 {
    background: #222;
    color: #fff;
    padding: 12px;
    margin: 0;
    text-align: center;
}
#controls {
    display: flex;
    gap: 20px;
    padding: 10px;
    background: #eee;
    justify-content: center;
}
.input-box { display: flex; flex-direction: column; }
input {
    padding: 6px;
    width: 240px;
}
button {
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    background: #007700;
    color: white;
    border-radius: 6px;
}
button:hover { background: #005500; }
#map {
    width: 100%;
    height: 85vh;
}
