body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

h1 {
    background: #222;
    color: white;
    padding: 10px;
    text-align: center;
}

#controls {
    padding: 10px;
    background: #e3e3e3;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.input-box {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    width: 250px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background: #008000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #006600;
}

#map {
    height: 85vh;
    width: 100%;
}
